# 
RERUN_URL="rerun+http://192.168.0.100:9876/proxy"
TEST_RERUN=false
# TOTAL_FRAMES=1000 # Not set = i64::MAX
ROS_DOMAIN_ID=0
ROS_ERROR_TOPIC="/rail/error"
PREVIEW_FOV_X_DEG=40.0
BEGIN_TIMESTAMP=""
RENDER_PATH=""
# BEGIN_TIMESTAMP="946685787033403039"
# RENDER_PATH="/frames"
# DETECTION_PRESET options: Quiet - 50m, QuietPlus - 58m
DETECTION_PRESET="QuietPlus"

# Web Panel & VNC resolution (rail_tuner_2d)
SCREEN_WIDTH=1600
SCREEN_HEIGHT=900
WINDOW_WIDTH=1600
WINDOW_HEIGHT=900
WINDOW_MAXIMIZED=false
